<!DOCTYPE html>
<html>
<head>
    <title>Подтверждение бронирования</title>
</head>
<body>
    <h2>Подтверждение бронирования</h2>
    <p>Вы выбрали вот это:</p>
    <table border="1">
        <tr>
            {% for col in col_names %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in temp %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
    <a href="{% url 'index' %}">
        <div class="back">Назад</div>
    </a>
    <br>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

</body>
</html> 