<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Create even Page!</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        {% if message != 'Exists' %}
            {% if fields %}
            <h1>Вот ваши поля. Хотите создать для них таблицу?</h1>
            {% for f in fields %}
                <p>{{ f }}</p>
            {% endfor %}
            <form action="{% url 'create_event_conformation' %}" method="post">
                {% csrf_token %}
                <button type="submit">Generate SQL</button>
                </form>
            {% else %}
                <h1>Вы не создали ни одного поля!</h1>
            {% endif %}
            
        {% else %}
            <h1>Вот ваша таблица!</h1>
            <form method="post">
                {% csrf_token %}
                {% for field_name in fields %}
                    <label for="{{ field_name }}">{{ field_name }}</label><br>
                    <input type="text" id="{{ field_name }}" name="{{ field_name }}"><br>
                {% endfor %}
                <button type="submit">Отправить</button>
            </form>
        {% endif %}

        <a href="{% url 'index' %}">
                <div class="back">Назад</div>
        </a>

        
        <p> </p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
</body>
</html>