<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваши ивенты</title>
    {% load static %}
    {% load my_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css.' %}">
</head>
<body>
    <h1>Создавайте и редактируйте свои ивенты тут!</h1>
    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>
        <!-- <p>{{help}}</p> -->
        {% if not table %}
            {% if fields %}
            <h1>Вот ваши поля. Хотите создать для них таблицу?</h1>
            {% for f in fields %}
                <p>{{ f }}</p>
            {% endfor %}
            <form action="{% url 'create_event_conformation' %}" method="post">
                {% csrf_token %}
                <button type="submit">Generate SQL</button>
                </form>
            {% else %}
                <h1>Вы не создали ни одного поля!</h1>
            {% endif %}
            
        {% else %}
            <h1>Вот ваша таблица!</h1>
            {% if form_error == 'isnotdigit' %}
                <p style="color: red;">В формы удалить или изменить нужно писать только цифры</p>
            {% endif %}
            <div class="form-container">
                <form method="post">
                    <p>Создать запись</p>
                    {% csrf_token %}
                    {% for field_name in fields %}
                        {% if field_name != 'id' %}
                            {% if field_name in choises%}
                                <label for="{{ field_name }}">{{ field_name }}</label><br>                
                                <select style="width: 177px; height: 21px;" id="{{field_name}}" name="{{field_name}}" >
                                    {% for choise in choises|get_item:field_name %}
                                        <option value="{{ choise }}">{{ choise }}</option>
                                    {% endfor %}
                                </select> <br>                          
                            {% else %}
                                <label for="{{ field_name }}">{{ field_name }}</label><br>
                                <input type="text" id="{{ field_name }}" name="{{ field_name }}"><br>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" name="button-send">Отправить</button>
                </form>
            </div>
            <br>
            <p>Удалить запись</p>
            <label>id</label><br>
            <form method="post">
                {% csrf_token %}
                <input list="options" name="option">
                    <datalist id="options">
                        {% for id in ids %}
                            <option value="{{id}}">
                        {% endfor %}
                    </datalist>
                <button type="submit" name="button-del">Удалить</button>
                </form>
            <br>
            <form method="post" action="">
                {% csrf_token %}
                <table border="1">
                    <tr>
                        {% for field_name in fields %}
                            <th>{{ field_name }}</th>
                        {% endfor %}
                    </tr>
                    {% for row in data %}
                    <tr>
                        {% for cell in row %}
                            {% with fields|get_item:forloop.counter0 as field_name  %}
                                {% if field_name in choises %}                           
                                    <td><select  style="width: 177px; height: 21px;" id="{{field_name}}" name="{{forloop.parentloop.counter}}" >
                                        <option value="{{ cell }}" selected>{{ cell }}</option>
                                        {% for choise in choises|get_item:field_name %}
                                            {% if choise != cell%}
                                                <option value="{{ choise }}">{{ choise }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select></td>
                                {% else %}
                                    <td><input type="text" name="{{ forloop.parentloop.counter }}" value="{{ cell }}"></td>                       
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <br>
                <button type="submit" name="edit"> Подтвердить изменения</button>
            </form>
                <!-- <p>{{ message }}</p> -->
            
        {% endif %}
        <p>{{help}}</p>
        <a href="{% url 'index' %}">
                <div class="back">Назад</div>
        </a>
        <br>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
</body>
</html>