<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Домашняя страница</title>
</head>
<body>
    <h1>Домашняя страница</h1>
    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>
        <a href="{% url 'choose_service' %}">
            <div class="is-user">Заказать бронивароние</div>
        </a>
        {% if user.is_staff %}
            <a href="{% url 'create_event' %}">
                <div class="is-staff">Создать ивент</div>
            </a>        
        {% endif %}

        <a href="{% url 'my_booking' %}">
            <div>Мои брониварония</div>
        </a>  
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
</body>
</html>