<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Выбирайте услугу</h1>
    {% if user.is_authenticated %}
        <p>Привет, {{ user.username }}!</p>

        {% for d in data %}
            <a href="{% url 'table_view' d %}">
                <div>{{d}}</div>
            </a>
        {% endfor %}

        <br>

        <a href="{% url 'index' %}">
            <div class="back">Назад</div>
        </a>
        <br>
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <br>

    {% else %}
        <p>Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
</body>
</html>