<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% load my_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css.' %}">
    <title>{{ data.table_name }}</title>
</head>
<body>  
    <h1>{{ data.table_name }}</h1> 
    <!-- {% if form_error == 'nosuchcol' %}
        <p style="color: red;">Нет такого фильтра, выберите из предложенных</p>
    {% endif %} -->
    <!-- <form method="post">
        {% csrf_token %}
        <select style="width: 177px; height: 21px;" id="options" name="option">
            <option value="" disabled selected>Сортировать по</option>
            {% for name in data.col_names %}
                <option value="{{ name }}">{{name}}</option>
            {% endfor %}
        </select>
        <button type="submit" name="button-sort">Сортировать</button>
        </form> -->
    {% for group in table_groups %}   
        <p>{{group}}</p>
    <div id="data-container">
        {% for row in table_groups|get_item:group%}
            <form action="{% url 'table_view' data.table_name %}" method="post">
                {% csrf_token %}
                <div class="record {% if row|last == user.id %}booking{% endif %}">
                    {% for item in row|slice:"1:" %}
                        {% if not forloop.last %}
                        <span>{{ item }}</span>
                        <input type="hidden" name="id" value="{{ row.0 }}">
                        {% endif %}
                    {% endfor %}
                    {% if row|last <= 0 %}
                        <button type="submit" name='button-book'>Бронивароть</button>
                    {% elif row|last == user.id %}
                        <button type="submit" name="button-cancel">Отменить</button>
                    {% endif %}
                </div>
            </form>
        {% endfor %}
    {% endfor %}    
        <form action="{% url 'table_view' data.table_name %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button-book-final">Завершить бронирование</button>
        </form>
        
        
    </div>
    <p>{{help.0}}</p>
    <p>{{help.1}}</p>
    <a href="{% url 'index' %}">
        <div class="back">Назад</div>
    </a>
    <br>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
