<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css\main.css.' %}">
    <title>{{ data.table_name }}</title>
</head>
<body>  
    <h1>{{ data.table_name }}</h1> 

    <form method="post">
        {% csrf_token %}
        <input list="options" name="option">
            <datalist id="options">
                {% for name in data.col_names %}
                    <option value="{{ name }}">
                {% endfor %}
            </datalist>
        <button type="submit" name="button-sort">Сортировать</button>
        </form>
    <div id="data-container">
        {% for row in data.table_data %}
            <form action="{% url 'table_view' data.table_name %}" method="post">
                {% csrf_token %}
                <!-- comment: к сожалению я не смог понять как сделать чтобы занятую штуку сделал серой 
                    и мог делать там где нажмаю кнопку зеленой  -->
                <div class="record {% if row|last == user.id %}booking{% endif %}">
                    {% for item in row %}
                        {% if not forloop.last %}
                        <span>{{ item }}</span>
                        <input type="hidden" name="id" value="{{ row.0 }}">
                        {% endif %}
                    {% endfor %}
                    {% if row|last <= 0 %}
                        <button type="submit" name='button-book'>Бронивароть</button>
                    {% elif row|last == user.id %}
                        <button type="submit" name="button-cancel">Отменить</button>
                    {% endif %}
                </div>
               
            </form>
        {% endfor %}
        <p>{{help}}</p>
        <p>{{temp}}</p>
        <form action="{% url 'table_view' data.table_name %}" method="post">
            {% csrf_token %}
            <button type="submit" name="button-book-final">Завершить бронирование</button>
        </form>
        
        
    </div>
    <p>{{data.table_data}}</p>
    <p>{{help}}</p>
    <a href="{% url 'index' %}">
        <div class="back">Назад</div>
    </a>
    <br>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
